<!DOCTYPE html>
<html>
<head>
    <title>BaroMondo - Women's Oversized T-Shirt Promotion</title>
</head>
<body style="background-color: #131313;">
    <table align="center" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center"  style="padding: 40px 0 30px 0;">
                <img src="https://cdn.shopify.com/s/files/1/0703/5597/6477/files/BM_4007fd30-7d04-4421-bb69-6ffd24859ad0.png?v=1687330588" alt="BaroMondo Logo" width="200" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td  style="padding: 40px 30px 40px 30px;">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #f1f1f1; font-family: Arial, sans-serif; font-size: 24px;">
                            <b>Discover Our Trendy Women's Oversized T-Shirts!</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0 30px 0; color: #b1b1b1; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px;">
                            <p>Dear valued customer,</p>
                            <p>Are you ready to take your fashion game to the next level? Our new collection of women's oversized t-shirts is here, and it's designed to make a statement!</p>
                            <p>Featuring premium quality fabrics, unique designs, and a comfortable fit, our oversized t-shirts are perfect for any occasion. Whether you're going for a casual look or want to stand out from the crowd, BaroMondo has got you covered.</p>
                            <p>Don't miss out on the opportunity to upgrade your wardrobe with our trendy collection. Shop now and enjoy an exclusive 10% discount by using the coupon code <b style="color: red;">GET10INSTANT</b> at checkout!</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td align="center" style="padding-bottom: 20px;">
                                        <a href="https://www.baromondo.com/products/womens-vibrant-sky-blue-drop-shoulder-oversized">
                                            <img src="https://cdn.shopify.com/s/files/1/0703/5597/6477/files/106.png?v=1686125487" width="250"  style="display: block;" />
                                        </a>
                                    </td>
                                    <td align="center" style="padding-bottom: 20px;">
                                        <a href="https://www.baromondo.com/products/womens-the-half-moon-black-drop-shoulder-oversized">
                                            <img src="https://cdn.shopify.com/s/files/1/0703/5597/6477/files/98_cb4c1fe8-f8cb-48fe-a7ee-b74d89885477.png?v=1686125020"  width="250"  style="display: block;" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding-bottom: 20px;">
                                        <a href="https://www.baromondo.com/products/womens-keep-it-reel-white-drop-shoulder-oversized">
                                            <img src="https://cdn.shopify.com/s/files/1/0703/5597/6477/files/95_631587c6-2ccb-4f6c-b0b5-3340aaa5774d.png?v=1686124762"  width="250"  style="display: block;" />
                                        </a>
                                    </td>
                                    <td align="center" style="padding-bottom: 20px;">
                                        <a href="https://www.baromondo.com/products/womens-rock-maroon-drop-shoulder-oversized">
                                            <img src="https://cdn.shopify.com/s/files/1/0703/5597/6477/files/90_5e95a17e-9de8-409a-9bbc-ab5192412950.png?v=1686124314"  width="250"  style="display: block;" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a href="https://www.baromondo.com/collections/womens-oversized" style="background-color: #FFBF00; border: none; color: rgb(0, 0, 0); padding: 12px 30px; text-align: center; text-decoration: none; display: inline-block; font-size: 18px; border-radius: 4px; font-family: Arial, sans-serif;">
                                Shop Now
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td  align="center" style="padding: 30px 30px 30px 30px; color: #999999; font-family: Arial, sans-serif; font-size: 14px; line-height: 24px;">
                <p>If you have any questions or need assistance, please don't hesitate to reach out to our customer support team at baromondo.help@gmail.com.</p>
                <p>Thank you for choosing BaroMondo!</p>
            </td>
        </tr>
        <tr>
            <td  align="center" style="padding: 30px 30px 30px 30px; background-color: #101010;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                            <p>&copy; 2023 BaroMondo. All rights reserved.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
